.image-radio {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border:1px solid transparent; border:solid #dbdbdb 1px;
  margin-bottom: 0; padding: 8px;
  outline: 0; border-radius:8px;
}
.image-radio input[type="radio"] {
  display: none;
}
.image-radio-checked {
      border-color: #26B1F9;
  background: #F2F9FC;
}
.image-radio .fa-check-square {
position: absolute;
  color: #fff;
  top: -2px;
  right: 27px;
}
.fa-check-square:before {
 
  font-size: 32px;
}
.image-radio-checked .fa-check-square {
display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.image-radio-checked .fa-check-square {
  display: block !important;
  visibility: visible !important;
}