 

.fieldsetForm {
    text-align: center;
    position: relative;
    margin-top: 0px;
}

.fieldsetForm fieldset {
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    position: relative
}

.form-card {
    text-align: center;
    margin: 0 0 0px 0;
}

.checkbox{text-align:left!important;margin:5px 0px;border: solid #b9b4d1 1px;padding: 5px;border-radius: 8px;}

.fieldsetForm fieldset:not(:first-of-type) {
    display: none
}

.fieldsetForm input,
.fieldsetForm textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    /*width: 100%;*/
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

.fieldsetForm input:focus,
.fieldsetForm textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}
.gray{
    background: gray;
}
.fieldsetForm .action-button {
    width: 100px;
    background: #f56b3b;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

.fieldsetForm .action-button:hover,
.fieldsetForm .action-button:focus {
    background-color: #f56b3b;
}

.fieldsetForm .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: left;
}

.fieldsetForm .action-button-previous:hover,
.fieldsetForm .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #14b493;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

.progress {
    height: 20px;
    border-radius: 20px;
}

.progress-bar {
    background-color: #673AB7;
    border-radius: 20px;
}

